# ---------------------------------
# Gradle
# ---------------------------------
.gradle/
build/
target/

# Archivos de logs
*.log

# ---------------------------------
# Java
# ---------------------------------
*.class
*.jar
*.war
*.ear

# ---------------------------------
# Eclipse/IDEA/VSCode
# ---------------------------------
.vscode/
.idea/
*.iml

# ---------------------------------
# Sistema operativo
# ---------------------------------
.DS_Store
Thumbs.db

# ---------------------------------
# Informes de prueba / cobertura
# ---------------------------------
test-results/
test-output/
jacoco.exec
*.ec
*.exec
coverage/
reports/

# ---------------------------------
# Archivos temporales de edición
# ---------------------------------
*.swp
*.tmp
*~

# ---------------------------------
# Archivos de entorno / local
# ---------------------------------
.env